/* .heroClip {
 clip-path: path("M 0.7618 1 L 0.7618 0.4638 A 0.02 0.02 0 0 1 0.78 0.4438 L 1 0.4438 A 0.02 0.02 0 0 1 1 0.42 L 1 0 L 0.293 0 A 0.02 0.02 0 0 1 0.273 0.02 L 0.273 0.1875 A 0.02 0.02 0 0 1 0.253 0.2075 L 0 0.2075 L 0 1 Z"
);
}


/* .path {
  clip-path: path("M 10,40 L 70,40 A 10,10 0,0,0 80,30 L
  80,10 A 10,10 0,0,1 90,0 L 140,0 A 10,10 0,0,1 150,10 L
150,190 A 10,10 0,0,1 140,200 L 10,200 A 10,10 0,0,1 0,
190 L 0,50 L 10,40 Z");
} */

/* .l{
  background-color: #c06216;
} */


 /* */ 
