@media (min-width: 640px) {
  .cardsContainer:has(.card:hover) .card {
    filter: grayscale(100%);
    opacity: 0.5;
    transform: scale(0.97) !important;
    transition: all 0.4s ease-in-out;
  }

  .cardsContainer:has(.card:hover) .card:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.01) !important;
  }
}
