@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee+Spice&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Italianno&family=Share+Tech&family=Special+Gothic+Condensed+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee+Spice&family=Edu+NSW+ACT+Cursive&family=Italianno&family=Share+Tech&family=Shrikhand&family=Special+Gothic+Condensed+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee+Spice&family=Edu+NSW+ACT+Cursive&family=Italianno&family=Share+Tech&family=Shrikhand&family=Special+Gothic+Condensed+One&family=Young+Serif&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  /* background-color:  */
}

.swiper-pagination-bullet {
  @apply bg-primary opacity-50;
}

.swiper-pagination-bullet-active {
  @apply bg-primary opacity-100;
}

