@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body {
  background-color: #e4e2dd;
}
.swiper-pagination-bullet {
  @apply bg-primary opacity-50;
}

.swiper-pagination-bullet-active {
  @apply bg-primary opacity-100;
}

.swiper-slide {
  width: 100% !important;
}

.backface-hidden {
  backface-visibility: hidden;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
